/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

*{
    list-style-type: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Nunito Sans", "Arial", Open-Sans;
}


@font-face {
    font-family: "Nunito Sans";
    font-weight: 400;
    src:
         url("../fonts/nunito-sans-v12-latin-regular.woff2") format("woff2"),
         url("../fonts/nunito-sans-v12-latin-regular.woff") format("woff");
  }
  @font-face {
    font-family: "Nunito Sans";
    font-weight: 600;
    src:
         url("../fonts/nunito-sans-v12-latin-600.woff2") format("woff2"),
         url("../fonts/nunito-sans-v12-latin-600.woff") format("woff");
  }
  @font-face {
    font-family: "Nunito Sans";
    font-weight: 800;
    src: 
         url("../fonts/nunito-sans-v12-latin-800.woff2") format("woff2"),
         url("../fonts/nunito-sans-v12-latin-800.woff") format("woff");
  }

:root{
    --main-section-bg: #F2F2F2;
    --body-bg: #FFFFFF;
    --box-shadow-style: 0px 2px 4px #0000000e;
    --color-content: #111517;
}

header{
    background-color: var(--body-bg);
    -webkit-box-shadow: var(--box-shadow-style);
            box-shadow: var(--box-shadow-style);
}
.container {
    width: 1280px;
    margin-right: auto;
    margin-left: auto;
}
.header-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 29px;
    padding-bottom: 29px;
}
.logo {
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    color: var(--color-content);
}
.dark-btn {
    padding-left: 30px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    background-color: transparent;
    cursor: pointer;
    background-image: url("../images/mun.svg");
    background-repeat: no-repeat;
    background-position: left;
    color: #111517;
    border: none;
}


main{
    background-color: var(--main-section-bg);
}
.countries-section{
    padding-top: 50px;
    background-color: var(--main-section-bg);
}
.form-box{
    width: 1280px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 50px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.search {
    width: 480px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 75px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    background-color: #FFFFFF;
    background-image: url("../images/search.svg");
    background-repeat: no-repeat;
    background-position: left 30px center;
    background-size: 20px;
    -webkit-box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
            box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
    border: none;
    border-radius: 5px;
}
.search::-webkit-input-placeholder{
    font-weight: 400;
    font-size: 14px;
    color: #848484;
}
.search::-moz-placeholder{
    font-weight: 400;
    font-size: 14px;
    color: #848484;
}
.search:-ms-input-placeholder{
    font-weight: 400;
    font-size: 14px;
    color: #848484;
}
.search::-ms-input-placeholder{
    font-weight: 400;
    font-size: 14px;
    color: #848484;
}
.search::placeholder{
    font-weight: 400;
    font-size: 14px;
    color: #848484;
}
.select-country {
    width: 200px;
    padding: 18px 24px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;    
    -webkit-appearance: none;    
       -moz-appearance: none;    
            appearance: none;
    background-image: url("../images/errov.svg");
    background-repeat: no-repeat;
    background-position: right 20px;
    background-size: 20px;
    -webkit-box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
            box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
    border: none;
    border-radius: 5px;
}


.countries-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 1280px;
    padding-left: 0;
}
.countries-item {
    width: 265px;
    margin-bottom: 60px;
    margin-right: 73px;
    padding: 0 0 20px 0;
    background-color: #FFFFFF;
}
.countries-item-box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 24px;
}
.countries-item:nth-child(1)::before{
    content: "";
    display: inline-block;
    width: 265px;
    height: 180px;
    background-image: url("../images/germany.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
.countries-item:nth-child(2)::before{
    content: "";
    display: inline-block;
    width: 265px;
    height: 180px;
    background-image: url("../images/usa.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
.countries-item:nth-child(3)::before{
    content: "";
    display: inline-block;
    width: 265px;
    height: 180px;
    background-image: url("../images/brasil.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
.countries-item:nth-child(4){
    margin-right: 0;
}
.countries-item:nth-child(4)::before{
    content: "";
    display: inline-block;
    width: 265px;
    height: 180px;
    background-image: url("../images/iceland.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
.countries-item:nth-child(5)::before{
    content: "";
    display: inline-block;
    width: 265px;
    height: 180px;
    background-image: url("../images/afganistan.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
.countries-item:nth-child(6)::before{
    content: "";
    display: inline-block;
    width: 265px;
    height: 180px;
    background-image: url("../images/aland-islands.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
.countries-item:nth-child(7)::before{
    content: "";
    display: inline-block;
    width: 265px;
    height: 180px;
    background-image: url("../images/albany.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

.countries-item:nth-child(8)::before{
    content: "";
    display: inline-block;
    width: 265px;
    height: 180px;
    background-image: url("../images/algeriya.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
.countries-item:nth-child(8){
    margin-right: 0;
}
.countries-item-head {
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    color: #111517;
}
.countries-item-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: var(--color-content);
    margin-top: 8px;
}
.countries-item-text {
    display: inline-block;
    margin-left: 5px;
    font-weight: 400px;
    opacity: 0.5;
} 